@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Outfit:wght@400;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Outfit:wght@400;900&display=swap"); */

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
}

.bg{
  color: red;
}

#chagePage{
  display: none;
}

.container-benchmark {
  background-image: url(../assets/img/bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  padding: 40px 100px;
  /* width: 100vw; */
  min-height: 100vh; 
  box-sizing: border-box;
}

.logo-benchmark img {
  width: 150px;
}

/* ------------------------------------------------------------------------- */

.timer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 50px 0;
  color: white;
}

.timer > svg {
  width: 200px;
  height: 200px;
}

.timer > svg > circle {
  fill: none;
  stroke-opacity: 0.4;
  stroke: #900080;
  stroke-width: 18;
  transform-origin: center center;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.timer > svg > circle::after {
  stroke: white;
}


.timer > svg > circle + circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
  transition: stroke-dashoffset 0.3s ease;
}

.text-timer {
  fill: white;
  font-size: 1.4rem;
}

.sec-timer {
  fill: white;
  font-size: 4rem;
  font-weight: 900;
}

/* .timer > svg > text {
  font-size: 2rem;
  fill: white; 
} */

/* .timer > svg > text + text {
  font-size: 1.4rem;
  fill: white; 
} */


/* ------------------------------------------------------------------------- */

.question {
  display: flex;
  justify-content: center;
}

.question p {
  font-weight: bold;
  font-size: 20px;
}

.wrap-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.answer {
  padding: 20px 200px;
  flex: 0 1 calc(100% / 4);
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.6);
  /* border: 3px solid linear-gradient(180deg, rgba(255, 255, 255, 1) 38%, rgba(135, 157, 165, 0) 78%); */
  border-radius: 40px;
  border-style: outset;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
  font-weight: bold;
}

.status-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.number-of-question {
  text-align: center;
}

.btn-next {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 20px 40px;
  text-align: center;
}

.bg1{
  background-color: #00FFFF;
  box-shadow: 0px 0px 17px 6px rgba(0,255,255,0.46);
  color: black;
}
